@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

.title {
  text-align: center;
}

.bestseller1 {
  margin: 80px;
  margin-left: 150px;
  display: flex;
  align-items: center;
}

.bestseller-img1 {
  float: left;
  border-radius: 170px 170px 0 0;
  vertical-align: middle;
  height: 500px;
}

.bestseller1-text {
  float: right;
  font-family: 'Merriweather';
  vertical-align: middle;
  margin-left: 100px;
}

.add-to-cart-btn {
  cursor: pointer;
  border: 2px solid #a3b798;
  background-color: #a3b798;
  height: 60px;
  width: 200px;
  color: #fff;
  font-family: 'Merriweather';
  border-radius: 35px;
  font-size: x-large;
  margin-top: 15px;
}

.add-to-cart-btn:hover {
  background-color: transparent;
  color: #8f9779;
}

.bestseller2 {
  margin: 80px;
  margin-left: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bestseller-img2 {
  float: right;
  border-radius: 170px 170px 0 0;
  vertical-align: middle;
  height: 500px;
}

.bestseller2-text {
  float: right;
  font-family: 'Merriweather';
  vertical-align: middle;
  margin-right: 100px;
}

/* Styles for hero image */
.hero-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 25px 50px;
  opacity: 0;
}

.hero {
  height: 500px;
  position: relative;
  width: 100%;
  display: block;
}

.hero-img {
  z-index: 2;
  opacity: 1;
  background: linear-gradient(rgb(0, 0, 0, 0.7), rgb(0, 0, 0, 0.7)),
    url('../images/bag-carousel1.jpg');
  background-size: cover;
}

.hero-text {
  color: white;
  text-align: center;
  padding-top: 160px;
  letter-spacing: 0.5rem;
  font-size: 50px;
}
